<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/adminlogin.css">
</head>
<body>

    <div class="container">

    <div class="form-area">  
    <form action="/admin/login" method="post">

        <div style="color: white; margin-left: 60px;">  <%= error %></div>

          <label class="labemail">E mail</label>
                <input value="basigar123@gmail.com" type="email" class="inp" name="email" id="email">

                <label class="labepassword">password</label>
                    <input type="password" value="Althaf@20" class="inp" name="password" id="password">
                    <div class="check">
                        <a href="http://localhost:7878/admin/verify"><span>Forgot Password</span></a>
                    </div>

                    <a href="http://localhost:7878/signup" class="registerNow">Do not have an account, Register now</a>
                <div class="btn-area">
                    <button type="submit">Login</button>
                </div>


    </form>

</div>

</div>
<script src="/user-login-client-validation.js"></script>
</body>
</html>
</body>
</html>