<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changepassword</title>
    <link rel="stylesheet" href="/adminforgotpassword.css">
</head>
<body>
    <div class="container">
        <form action="/admin/passwordchange/<%=email%>" method="post">
            <h3>Change Password</h3>
            <div class="error-area" style="color: red; font-size: 18px;"> <%=error%> </div>
            <label class="lebenewpassword">New Password</label>
            <input type="password" name="newpassword" id="newpassword">

            <label class="labeconfirmpassword">Confirm Password</label>
            <input type="password" name="confirmpassword" id="confirmpassword">

            <div class="btn-area">
                <button type="submit">Submit</button>
            </div>

        </form>
    </div>

    <script src="/changepassword.js"></script>
</body>
</html>