<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="verify.css">
</head>

<body>
   <div class="container">
    <form action="/forgotpassword" method="post">
        <h2>Verify with Email</h2>
        <div class="inp-area">
            <label for="" >E mail</label><br>
            <input type="email" name="email" id="" placeholder="yourname@gmail.com">
        </div>
        <button class="submit_btn" type="submit">SUBMIT</button>
    </form>
   </div>
</body>
</html>