body {
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.112);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.379);

}
h2{
    margin: 3rem 0 5rem 0;
    font-family: sans-serif;
    letter-spacing: .1rem;
    color: rgba(0, 0, 0, 0.752);
}
label   {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: rgb(72, 20, 20);

}
input{
    outline: none;
    border: none;
    height: 2.6rem;
    width: 20rem;
    padding-left: .9rem;
    border-radius: .3rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.423);
}
.submit_btn{
    margin: 3rem 0;
    padding: .8rem 2rem;
    border: none;
    outline: none;
    color: white;
    font-family: sans-serif;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .5s;
    background-color: rgb(12, 12, 31);
}
.submit_btn:active{
    transform: scale(.94);
}

.inp-area{
    display: flex;
    flex-direction: column;

} 
